.data

# Python
__pycache__/
*.py[cod]
env/
venv/
.venv/
*.egg-info/

# Logs
logs/
*.log
*.out
outputs/

# Build artifacts
dist/
build/

# IDE-specific files
.vscode/
*.sublime-workspace
*.sublime-project

# Environment variables and secrets
.env
*.key
*.pem
*.crt
config/secrets.yml

# Git-specific
.git/
*.orig
*.lock

# pytest
.pytest_cache/

# ruff
.ruff_cache